<div class="nav-container">
    <header>
        <a href="index.html" class="logo">Americo Perez</a>
        <nav>
            <ul>
                <li><a href="#">My Work</a></li>
                <li><a href="#">My Skills</a></li>
                <li><a href="#">Hire me</a></li>
            </ul>
        </nav>
    </header>
    <div class="social-header">
        <ul>
            <li><a href="https://www.facebook.com/americo.perez.7/"><img src="assets/images/facebook.svg" alt="facebook"></a></li>
            <li><a href="https://www.instagram.com/americoperez49/"><img src="assets/images/instagram.svg" alt="instagram"></a></li>
        </ul>
    </div>
</div>

<div class="hero">
    <div class="content">
        <h1 class="stagger1">Where Technology meets <br> Idea-Synthesis,
            <br> Adaptability,
            <br>& 
             <br> Problem-Solving
        </h1>
        <div class="meet stagger1">
            <span>👇</span>
            <p>Meet Americo Perez</p>
        </div>
    </div>

    <svg class="hero-design" width="647" height="648" viewBox="0 0 647 648">
        <g id="Hero-Design" transform="translate(-1000 -252)">
          <rect class="square-anim" id="Rectangle_3" data-name="Rectangle 3" width="162" height="162" rx="29" transform="translate(1322 252)" fill="#1d5092"/>
          <rect class="square-anim" id="Rectangle_7" data-name="Rectangle 7" width="162" height="162" rx="29" transform="translate(1322 576)" fill="#1d5092"/>
          <rect class="square-anim" id="Rectangle_4" data-name="Rectangle 4" width="162" height="162" rx="29" transform="translate(1162 414)" fill="#fff"/>
          <rect class="square-anim" id="Rectangle_8" data-name="Rectangle 8" width="162" height="162" rx="29" transform="translate(1162 738)" fill="#fff"/>
          <rect class="square-anim" id="Rectangle_5" data-name="Rectangle 5" width="162" height="162" rx="29" transform="translate(1485 414)" fill="#4a87d6"/>
          <rect class="square-anim" id="Rectangle_9" data-name="Rectangle 9" width="162" height="162" rx="29" transform="translate(1000 575)" fill="#4a87d6"/>
          <circle class="square-anim" id="Ellipse_1" data-name="Ellipse 1" cx="80" cy="80" r="80" transform="translate(1324 415)" fill="#06bfd9"/>
          <circle class="square-anim"  id="Ellipse_2" data-name="Ellipse 2" cx="80" cy="80" r="80" transform="translate(1162 577)" fill="#fc9b36"/>
        </g>
      </svg>
      
</div>

<section class="featured">
    <div class="left">
        <div class="inner transition2">
            <p class="subtitle">featured project</p>
            <p class="featured-title">"Bid Day Tool"</p>
            <p class="featured-desc">
                An application created to help businesses estimate costs & prices for 
jobs that are being bid on in the Automation Controls Industry.
            </p>
            <img class="left transition2" src="assets\images\BidDayTool-Icon.svg" alt="BDT Icons">

        </div>
    </div>
    <img class="right transition2" src="assets\images\BDT-Image.png" alt="featured project">
</section>

<section class="skills">
    <div class="skills-container">
        <ul>
            <li class="transition2">
                <div class="icon-container one">
                    <img src="assets\images\Fullstack.svg" alt="FullStack Dev Icon">
                </div>
                <p class="skill-title">FULLSTACK DEVELOPMENT</p>
                <p class="featured-desc skill-desc">Leverage latest technologies to provide innovative solutions</p>
            </li>
            <li class="transition2">
                <div class="icon-container two">
                    <img src="assets\images\Integration-Icon.svg" alt="FullStack Dev Icon">
                </div>
                <p class="skill-title">INTEGRATION</p>
                <p class="featured-desc skill-desc">Combine services & frameworks to deliver new functionality to existing platforms</p>
            </li>
            <li class="transition2">
                <div class="icon-container three">
                    <img src="assets\images\CustomSolution-Icon.svg" alt="FullStack Dev Icon">
                </div>
                <p class="skill-title">FULLY-CUSTOM SOLUTIONS</p>
                <p class="featured-desc skill-desc">Applications designed & built from the ground up to meet your needs</p>
            </li>
        </ul>
    </div>
</section>

<section class="portfolio">
    <div class="portfolio-container transition3">
        <div class="portfolio-left">
            <div class="inner">
                <p class="subtitle">featured project</p>
                <p class="featured-title">Enteliweb Integration</p>
                <p class="featured-desc">
                    Leveraging the Enteliweb API, as well as APIs from other online 
services, I was able to create several custom modules which allowed 
users to extend the capabilities of Enteliweb.
                </p>
                <img class="left transition3" src="assets\images\Eweb-Icon.svg" alt="Eweb Icons">

            </div>
        </div>
        <img class="right transition3" src="assets\images\Eweb-Image.png" alt="Eweb Image">
    </div>

    <div class="portfolio-container transition3">
        <div class="portfolio-left">
            <div class="inner">
                <p class="subtitle">featured project</p>
                <p class="featured-title">License Generator</p>
                <p class="featured-desc">
                    A user interface used to generate licenses for a company's 
                    intellectual property. Everything from how the license is generated 
                    to how it's validated was created from scratch.                    
                </p>
                <img class="left transition3 csharp"  src="assets\images\CSharp-Icon.svg" alt="CSharp Icons">

            </div>
        </div>
        <img class="right transition3" src="assets\images\LicenseGen-Image.png" alt="Eweb Image">
    </div>
</section>

<!-- <footer>
    <div class="footer-design">
        <svg xmlns="http://www.w3.org/2000/svg" width="647" height="486" viewBox="0 0 647 486">
            <g id="Footer-Icon" transform="translate(-1400 -4753)">
              <rect id="Rectangle_13" data-name="Rectangle 13" width="162" height="162" rx="29" transform="translate(1722 4753)" fill="#1d5092"/>
              <rect id="Rectangle_17" data-name="Rectangle 17" width="162" height="162" rx="29" transform="translate(1722 5077)" fill="#1d5092"/>
              <rect id="Rectangle_16" data-name="Rectangle 16" width="162" height="162" rx="29" transform="translate(1562 4915)" fill="#fff"/>
              <rect id="Rectangle_14" data-name="Rectangle 14" width="162" height="162" rx="29" transform="translate(1885 4915)" fill="#4a87d6"/>
              <rect id="Rectangle_18" data-name="Rectangle 18" width="162" height="162" rx="29" transform="translate(1400 5076)" fill="#4a87d6"/>
              <circle id="Ellipse_8" data-name="Ellipse 8" cx="80" cy="80" r="80" transform="translate(1724 4916)" fill="#06bfd9"/>
              <circle id="Ellipse_9" data-name="Ellipse 9" cx="80" cy="80" r="80" transform="translate(1562 5078)" fill="#fc9b36"/>
            </g>
          </svg>          
    </div>
</footer> -->

